.settings
*.apk

bin/
gen/
/testbin/com/ichi2/anki/AllTests.class
/testbin/com/ichi2/anki/AnkiDroidTest.class
/test/com/ichi2/anki/AllTests.java
/test/com/ichi2/anki/AnkiDroidTest.java
tools/crowdin_key.txt

build.xml
.build.xml
local.properties
proguard.cfg
coverage.em

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
nppBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
out/
*.iml
*.eml

# Temporary file by update-localizations.py
ankidroid.zip